
#root {
  margin: flex;
  padding: flex;
}

html,body,div
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.card {
  padding: auto;
}

  /* @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }

    Nav {
      color: black;
    }
  } */
